@font-face {
    font-family: 'Formular';
    src: url('https://miro.com/app/static/static/fonts/general/FormularRegular/formular-regular.4b9930.woff2');
}

:global :is(body, button, select, textarea, input) {
    font: 14px OpenSans, Arial, Helvetica, sans-serif;
    color: #595959;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: normal;
    font-family: OpenSans, Arial, Helvetica, sans-serif;
}

:global body {
    /* matches the miro sidebar width */
    width: 340px;
}

.container {
    display: flex;
    flex-grow: 1;
    position: relative;
    justify-content: flex-end;
    min-width: 0;
    min-height: 0;
    height: 100%;
}